.task-container {
    background-color:  #1C1C1C;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #B0C4DE;
    align-items: center;
}

.task-title{
    cursor: pointer;
}

.remove-task-button,
.see-task-details-button {
    background-color: #1C1C1C;
    border: none;
    font-size: 24px;
    color:#B0C4DE;
}